@import '~bootstrap/dist/css/bootstrap-reboot.min.css';
@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';


.setupDisplay{
    margin: 25px 0px 25px 0px;
    background-color: #BBBBBB;
}

.setupDisplay button{
    margin-bottom: 25px;
}