<div class="promotionDialogueBox">

    <p>Select a Promotion</p>
    <div class="picturesBox">
        <img (click)="selectPromotion('Q')" src="../../../assets/{{this.colorChar}}Q.png">
        <img (click)="selectPromotion('R')" src="../../../assets/{{this.colorChar}}R.png">
        <p></p>
        <img (click)="selectPromotion('N')" src="../../../assets/{{this.colorChar}}N.png">
        <img (click)="selectPromotion('B')" src="../../../assets/{{this.colorChar}}B.png">
    </div>

</div> 